<template>
  <section>
    <header id="nav">
      <search-bar ref="searchbar" v-model:query.trim="query"></search-bar>
    </header>
    <template v-if="isResultVisible">
      <results :type="type" :query="searchValue"/>
    </template>
    <footer id="footer">
      <options v-model="types"/>
    </footer>
  </section>
</template>

<script>
import SearchBar from "../components/SearchBar";
import Options from "../components/Options";
//import _ from "lodash";
import Results from "../components/Results";

export default {
  name: "SearchView",
  props: {
    searchValue: String,
    type: String,
    id: Number,
  },
  emits: ['submit'],
  components: {
    SearchBar,
    Options,
    Results,
  },
  data() {
    return {
      query: "",
      isResultVisible: false
    };
  },
  created() {
    if (this.searchValue != null) this.isResultVisible = true;
  },
  watch: {
    query: function (current) {
      this.$emit('submit', {
        query: current,
        type: this.types,
        id: this.id
      })
    },
    searchValue(val) {
      console.log(val);
      if (val != null) this.isResultVisible = true;
    }
  },
  computed: {
    types() {
      return this.$store.state.types;
    }
  }

};
</script>

<style scoped>
section {
  border: black double;
  margin: 1em;
}
</style>