<template>
	<article>
		<h3 class="resultName">{{ data.name }}</h3>
		<p><a :href="data.contentUrl">
			<img :src="data.thumbnailUrl" :width="data.thumbnail.width" :height="data.thumbnail.height" alt="">
		</a></p>
		<p>{{data.contentSize}} - {{data.width}}x{{data.height}} - {{data.encodingFormat}}</p>
		<p><a :href="data.hostPageUrl">{{data.hostPageDisplayUrl}}</a></p>
<!--		<ul>-->
<!--			<li v-for="(licence,id) in data.contractualRules" :key="id">-->
<!--				{{ licence }}-->
<!--			</li>-->
<!--		</ul>-->
<!--		<p>{{ data }}</p>-->
	</article>
</template>

<script>
export default {
	name: "image-result",
	props: {
		data: Object
	}
}
</script>

<style scoped>

</style>