<template>
  <label for="forshowparams">params</label>
  <input id="forshowparams" name="forshowparams" type="checkbox" v-model="showparams"/>
  <div v-if="showparams">
    <label for="autocomplete">autocompletion</label>
    <input id="autocomplete" name="autocomplete" v-model="autocompletion" type="checkbox"/>
    <label for="openInNewPage">new Page</label>
    <input id="openInNewPage" name="openInNewPage" v-model="openInNewPage" type="checkbox"/>
    <ul>
      <li v-for="type in types" v-bind:key="type.value">
        <label :for="type.name">{{ type.value }}</label>
        <input
            :name="type.name"
            v-model="type.used"
            v-on:click="testMinRequired(type.used)"
            type="checkbox"
        />
      </li>
    </ul>
  </div>
</template>

<script>
//import _ from "lodash";
export default {
  name: "Options",
  data() {
    return {
      showparams: false
    }
  },
  props: ["modelValue"],
  emits: ["update:modelValue"],
  computed: {
    //Get value from the state manager
    types: {
      get() {
        return this.modelValue;
      },
      set(val) {
        console.log(val);
        this.emit("update:modelValue", val);
      },
    },
    openInNewPage: {
      get() {
        return this.$store.state.openInNewPage;
      },
      set(newVal) {
        this.$store.commit("switchOpenInNewPage", newVal);
      },
    },
    autocompletion: {
      get() {
        return this.$store.state.autocompletion;
      },
      set(newVal) {
        this.$store.commit("switchAutocomplete", newVal);
      },
    },
  },
  methods: {
    testMinRequired(t) {
      let valid = 0;
      console.log(this.types, t);
      if (t) valid--;
      else valid++;

      this.types.forEach((element) => {
        console.log(element)
        if (element.used) valid++;
      });
      if (valid != 0) return;
      console.log("warning", this.types[0]);
      if (this.types[0].used) this.types[1].used = true;
      else this.types[0].used = true;
    },
  },
};
</script>
