<template>
	<section>
		<h1>
			Result of type {{ type }} for {{ query }}
		</h1>
		<ul class="typeList">
			<li v-for="(data, name) in results" :key="name" :class="name">
				<h2>Type {{ getTypeValue(name) }} > {{ name }}</h2>

				<ul v-bind:class="{resultList:true, name}">
					<li v-for="result in data.value" :key="result.id">
						<webpageResult v-bind:data="result" v-if='name === "webPages"' ></webpageResult>
						<imageResult v-bind:data="result" v-else-if='name === "images"'></imageResult>
						<videoResult v-bind:data="result" v-else-if='name === "videos"'></videoResult>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</template>

<script>
import webpageResult from "./webpage-result";
import imageResult from "@/components/image-result";
import videoResult from "@/components/video-result";
import {mapGetters} from "pinia/dist/pinia";
//import _ from "lodash";

export default {
	name: "results",
	data() {
		return {
			results: []
		}
	},
	props: [
		'type',
		'query'
	],
	watch: {
		query(val, oldval) {
			if (oldval == val)
				return;
			console.log(val, oldval);
			this.queryData(val, this.type)
		},
	},
	created() {
		this.queryData(this.query, this.type);
		this.unsubscribe = this.$store.subscribe((mutation, state) => {
			if (mutation.type === 'addResults') {
				this.results = {...state.results[this.query]};
				console.log(this.results.videos);
			}
		});
	},
	methods: {
		async queryData(query, type) {
			if (query == null)
				return;
			//console.log(query, type);
			this.$store.dispatch("callApi", {query, type});
		}
	},
	beforeUnmount() {
		this.unsubscribe();
	},
	computed: {
		...mapGetters([
			'getTypeValue'
		])
	},
	components: {
		webpageResult,
		imageResult,
		videoResult
	}
};
</script>