/**
Search bar
use props to sed query back
compute autocompletion from the store to know if we must autocomplete or not
*/
<template>
  <div>
    <input type="search" autofocus v-model="localquery"
           v-on:search="$emit('update:query', localquery)"
    />
    <button v-on:click="$emit('update:query', localquery)">
      send Query
    </button>
    <ul v-if="autocompletion">
      <li v-for="option in autocompletionOptions" :key="option">
        <button v-on:click="localquery = option">{{ option }}</button>
      </li>
    </ul>
  </div>
</template>


<script>
import _ from "lodash";

export default {
  name: "search-bar",
  // public variable
  props: {
    query: {
      type: String,
      default: "",
    },
  },
  // send the local query when we finish the typing
  emits: ["update:query"],
  data() {
    return {
      // local variable
      localquery: "",
      // autocompletion management
      autocompletionOptions: [],
      autocompletionOptionsSet: {},
    };
  },
  methods: {
    log(text) {
      console.log(text)
    },
    sendAutoCompletion(current, previous) {
      //si on n'a pas de texte, on n'affiche pas d'autocompletion
      if (current.length <= 0) {
        this.autocompletionOptions = [];
        return;
      }

      //Si la recherche actuelle n'est pas en mémoire
      if (!this.autocompletionOptionsSet[current])
        this.autocompletionOptionsSet[current] = this.loadOption(
            current
        );

      //si on enlève des charactères, on présente aussi la précédente option
      if (current.length < previous.length) {
        if (
            _.indexOf(
                this.autocompletionOptionsSet[current],
                previous
            ) == -1
        )
          this.autocompletionOptionsSet[current].push(previous);
      }

      this.autocompletionOptions = this.autocompletionOptionsSet[current];
    },
    loadOption(original) {
      //we load autocompletion options from network
      const optionscount = _.random(2, 5, false);
      let currentOptions = [];
      for (let i = 0; i < optionscount; i++) {
        currentOptions.push(original + i.toString());
      }
      return currentOptions;
    },
  },
  computed: {
    //Get value from the state manager
    autocompletion() {
      return this.$store.state.autocompletion;
    },
  },
  watch: {
    // whenever question changes, this function will run at an acceptable rate
    localquery: _.throttle(function (newText, oldText) {
      if (this.autocompletion) this.sendAutoCompletion(newText, oldText);
    }, 500),
  },
};
</script>


<style>
</style>