<template>
	<article>
		<div class="embed" v-html="htmlDecode(data.embedHtml)"></div>
		<h3 class="resultName"><a :href="data.contentUrl">{{ data.name }} [{{ publisherString(data.publisher) }}]</a></h3>
		<p>duration:{{data.duration}} - {{data.datePublished}} - {{data.viewCount}} views</p>

<!--		<p>{{ data }}</p>-->
	</article>
</template>

<script>
export default {
	name: "video-result",
	props: {
		data: Object
	},
	methods: {
		htmlDecode(input) {
			const doc = new DOMParser().parseFromString(input, "text/html");
			return doc.documentElement.textContent;
		},
		publisherString(publisher){
			if(publisher.length === 1)
				return publisher[0].name;
			else {
				let str = "";
				for (let i = 0; i < publisher.length; i++) {
					if(i === 0)
						str += publisher[i].name;
					else if( i === publisher.length -1)
						str += `and ${publisher[i].name}`;
					else
						str += `, ${publisher[i].name}`;
				}
				return str;
			}
		},
	}
}
</script>

<style scoped>

</style>