<template>
	<article>
		<h3 class="resultName">{{ data.name }}</h3>
		<a :href="data.url">{{ data.displayUrl }}</a>
		<p class="resultDescription" v-html="data.snippet"></p>

	<footer>
		<p v-if="data.language !== undefined" class="language">{{ data.language }}</p>
		<p v-if="data.dateLastCrawled">{{ data.dateLastCrawled }}</p>
		<p v-if="data.contractualRules && data.contractualRules.length !== 0">{{data.contractualRules[0].licenseNotice}}</p>
	</footer>
<!--		<ul>-->
<!--			<li v-for="(licence,id) in data.contractualRules" :key="id">-->
<!--				{{ licence }}-->
<!--			</li>-->
<!--		</ul>-->
<!--		<p>{{ data }}</p>-->
	</article>
</template>

<script>
export default {
	name: "webpage-result",
	props: {
		data: Object
	}
}
</script>

<style scoped>

	article {
		width: 300px;
		background-color:#F0F0F0;
		border-radius: 14px;
		padding:1em;
	}
</style>