<a-entity mixin="hoverAnimation">
    <a-rounded class="{{class}}" 
        rounded="radius:  {{roundedRadius}};  opacity:  {{roundedOpacity}};  color: {{roundedColor}}; height: {{roundedHeight}}; width: {{roundedWidth}}" 
        position="{{roundedPosition.x}} {{roundedPosition.y}} {{roundedPosition.z}}" 
        interactable 
        mixin="transmitAllEvents"
    >
        <a-image src="{{imageSrc}}" 
            scale="{{imageScale}} {{imageScale}} {{imageScale}}" 
            position="{{imagePosition.x}} {{imagePosition.y}} {{imagePosition.z}}" 
            material="alphaTest:{{imageMaterialAlphaTest}}; side:front"
        ></a-image>
    </a-rounded>
</a-entity>