<a-entity position="-0.4 0 0" bind="visible:warning.show">
    <a-entity 
        class="background" 
        mixin="roundBlack" 
        rounded="height:0.15;width:0.8"
        interactable
        onclick="AFRAME.scenes[0].emit('hideMessage')"
    ></a-entity>
    <a-image 
        class="icon" 
        bind="src:'#'+ warning.symbole"
        position="0.075 0.075 0.01" 
        scale="0.1 0.1 0.1"
    ></a-image>
    <a-troika-text 
        class="title" 
        bind="value:warning.title"
        position="0.14 0.11 0.01" 
        font-size="0.035" 
        max-width="0.65" 
        mixin="troikatitle"
    ></a-troika-text>
    <a-troika-text 
        class="contenu2" 
        bind="value:warning.content"
        position="0.14 0.055 0.01" 
        font-size="0.026" 
        max-width="0.64" 
        mixin="troikatext"
    ></a-troika-text>
</a-entity>