{{#if_eq resultType 'videos'}}
    <a-entity id="results-videos" 
        layout="type:  box;  columns:  3;   margin:  0.6;  align:  center">
        {{#each resultData as | result |}}
        <a-flexcontainer class="result-element video" 
            justify-items="start" 
            direction="column" 
            padding="0.03" 
            height="0.5" 
            width="0.5" 
            align-items="stretch"
            spacing="0.005"
            mixin="hoverAnimation resultElement">
            <a-rounded class="background" 
                interactable mixin="roundBlack resultbackground transmitHoverEvents">
            </a-rounded>
            <a-entity class="media" 
                material="src: {{result.thumbnailUrl}}" mixin="videoResultThumbnail">
            </a-entity>
            <a-troika-text class="title" 
                value="{{result.name}}"
                mixin="troikatitle mediaResultTitle">
            </a-troika-text>
            </a-troika-text>
            <a-flexcontainer class="addedInformation" 
                direction="row" 
                justify-items="space-between" 
                flexitem="fixed:true" 
                width="0.45" 
                position="0 -0.21 0">

                {{#if result.publisher.[0].[name]}}
                <a-troika-text class="publisher" 
                    value="{{result.publisher.[0].[name]}}" 
                    mixin="troikatext secondaryResultText">
                </a-troika-text>
                {{/if}}

                {{#if result.contractualRules}}
                <a-troika-text class="Licence" value="{{result.contractualRules.[0].license.name}}" mixin="troikatext secondaryResultText"></a-troika-text>
                {{/if}}
                    
            </a-flexcontainer>

            <a-flexcontainer class="buttonPannel" position="0 0 0.01" direction="row" height="0.25" width="0.5" justify-items="space-around" flexitem="fixed:true" visible="false" animation__mouseleave="startEvents: mouseleave; property:visible; to:false; dur : 0" animation__mouseenter="startEvents: mouseenter; property:visible; to:true; dur: 0">

                <a-entity class="redirectButton" 
                    onclick="document.location.href='{{result.hostPageUrl}}'"
                    mixin="redirectButton"
                ></a-entity>
                <!-- 
                    <a-entity class="PlayerUrl"
                        flexrect
                        button-template="imageSrc:extras/textures/player-black.png; imageScale: 0.15; imagePosition: 0.075 0.045 0.001"
                        onclick="document.location.href='https://arthur-moug.in'"></a-entity>
                    <!---->
            </a-flexcontainer>
        </a-flexcontainer>
        {{/each}}
    </a-entity>


{{else if_eq resultType 'web'}}
    <a-entity id="results-pages" 
        layout="type:  box;  columns:  3;   margin:  0.6;  align:  center">
        {{#each resultData as | result |}}
        <a-flexcontainer class="result-element page" 
            justify-items="start" 
            direction="column" 
            padding="0.03" 
            height="0.5" 
            width="0.5"  
            align-items="stretch"
            mixin="hoverAnimation resultElement">
            <a-rounded class="background" 
                interactable mixin="roundBlack resultbackground transmitHoverEvents"
            ></a-rounded>
            <a-troika-text class="title" 
                value="{{result.name}}" 
                mixin="troikatitle pageResultTitle">
            </a-troika-text>
            <a-troika-text class="url" 
                filter-text="value:{{result.displayUrl}};truncateLength:30;siteOnly:true"
                mixin="troikaurl pageResultUrl">
            </a-troika-text>
            <a-troika-text class="description" 
                filter-text="value:{{result.snippet}};truncateLength:250;"
                mixin="troikatext pageResultText">
            </a-troika-text>
            <a-flexcontainer class="addedInformation" 
                direction="row" 
                justify-items="space-between" 
                flexitem="fixed:true" 
                width="0.45" 
                position="0 -0.21 0">

                {{#if result.language}}
                <a-troika-text class="Language" 
                    value="{{result.language}}" 
                    mixin="troikatext secondaryResultText">
                </a-troika-text>
                {{/if}}

                {{#if result.contractualRules}}
                <a-troika-text class="Licence" value="{{result.contractualRules.[0].license.name}}" mixin="troikatext secondaryResultText"></a-troika-text>
                {{/if}}
                    
            </a-flexcontainer>
            <a-flexcontainer class="buttonPannel" 
                position="0 0 0.01" 
                direction="row" 
                height="0.25" 
                width="0.5" 
                justify-items="space-around" 
                flexitem="fixed:true" 
                visible="false" 
                animation__mouseleave="startEvents: mouseleave; property:visible; to:false; dur : 0" 
                animation__mouseenter="startEvents: mouseenter; property:visible; to:true; dur: 0">

                <a-entity class="redirectButton" 
                    onclick="document.location.href='{{result.url}}'"
                    mixin="redirectButton"
                ></a-entity>
                <!-- 
                <a-entity class="PlayerUrl"
                    flexrect
                    button-template="imageSrc:extras/textures/player-black.png; imageScale: 0.15; imagePosition: 0.075 0.045 0.001"
                    onclick="document.location.href='https://arthur-moug.in'"></a-entity>
                <!---->
            </a-flexcontainer>
        </a-flexcontainer>
        {{/each}}

    </a-entity>

{{else}}
    <a-entity id="results-images" layout="type:  box;  columns:  3;   margin:  0.6;  align:  center">
        {{#each resultData as | result |}}
        <a-flexcontainer class="result-element image" 
            justify-items="start" 
            direction="column" 
            padding="0.03" 
            height="0.5" 
            width="0.5" 
            align-items="stretch"
            spacing="0.005"
            mixin="hoverAnimation resultElement">
            <a-rounded class="background" 
                interactable mixin="roundBlack resultbackground transmitHoverEvents">
            </a-rounded>
            <a-entity class="media" 
                material="src: {{result.thumbnailUrl}}" mixin="videoResultThumbnail">
            </a-entity>
            <a-troika-text class="title" 
                value="{{result.name}}"
                mixin="troikatitle mediaResultTitle">
            </a-troika-text>
            
            <a-flexcontainer class="addedInformation" 
                direction="row" 
                justify-items="space-between" 
                flexitem="fixed:true" 
                padding="0"
                width="0.45" 
                position="0 -0.21 0">

                {{#if result.height}}
                <a-troika-text class="resolution" 
                    value="{{result.width}}x{{result.height}} | {{result.encodingFormat}}" 
                    mixin="troikatext secondaryResultText">
                </a-troika-text>
                {{/if}}

                {{#if result.contractualRules}}
                <a-troika-text class="Licence" value="{{result.contractualRules.[0].license.name}}" mixin="troikatext secondaryResultText"></a-troika-text>
                {{/if}}

                {{#if result.hostPageUrl}}
                <a-troika-text class="Host" 
                    filter-text="value:{{result.hostPageUrl}};truncateLength:15;rootDomainOnly:true"
                    mixin="troikatext lastSecondaryResultText">
                </a-troika-text>
                {{/if}}
                    
            </a-flexcontainer>

            <a-flexcontainer class="buttonPannel" position="0 0 0.01" direction="row" height="0.25" width="0.5" justify-items="space-around" flexitem="fixed:true" visible="false" animation__mouseleave="startEvents: mouseleave; property:visible; to:false; dur : 0" animation__mouseenter="startEvents: mouseenter; property:visible; to:true; dur: 0">

                <a-entity class="redirectButton" 
                    onclick="document.location.href='{{result.hostPageUrl}}'"
                    mixin="redirectButton"
                ></a-entity>
                <!-- 
                    <a-entity class="PlayerUrl"
                        flexrect
                        button-template="imageSrc:extras/textures/player-black.png; imageScale: 0.15; imagePosition: 0.075 0.045 0.001"
                        onclick="document.location.href='https://arthur-moug.in'"></a-entity>
                    <!---->
            </a-flexcontainer>
        </a-flexcontainer>
        {{/each}}
    </a-entity>

{{/if_eq}}