<template>
  <template v-for="view in views" :key="view.id">
    <router-view
        :type="view.type"
        :searchValue="view.query"
        :id="view.id"
        @submit="addquery"
    />
  </template>
</template>

<script>
import _ from "lodash";

export default {
  name: "App",
  //local Data
  data() {
    return {
      views: [
        {
          id: 0,
          query: null,
          type: null,
        },
      ],
      justloaded: true,
    };
  },
  computed: {
    type() {
      //we fils the type singular value with a string of types splited by &
      let type = "";
      //console.log(this.types);
      const typeArr = _.remove([...this.types], function (n) {
        return n.used;
      });
      //console.log(typeArr);
      if (typeArr.length == 0) {
        type = "web";
        return;
      }
      type = typeArr[0].value;
      if (typeArr.length > 1) {
        for (let i = 1; i < typeArr.length; i++) {
          type += "&" + typeArr[i].value;
        }
      }
      return type;
    },
    openInNewPage: {
      get() {
        return this.$store.state.openInNewPage;
      },
      set(newVal) {
        this.$store.commit("switchOpenInNewPage", newVal);
      },
    },
    autocompletion: {
      get() {
        return this.$store.state.autocompletion;
      },
      set(newVal) {
        this.$store.commit("switchAutocomplete", newVal);
      },
    },
  },
  methods: {
    async addquery(data) {
      //Function to call when adding queries
      let t;

      //If called from user doing some query
      if (!_.isString(data.type)) {
        const typeArr = _.filter(data.type, function (n) {
          return n.used;
        });
        data.type = typeArr;
        //console.log(data);
        t = this.TypeToString(data.type);
      } else {
        //If called from loading the url params
        t = data.type;
      }


      if (this.openInNewPage) {
        this.views.push({
          id: this.views.length,
          query: data.query,
          type: t,
        });
      } else {
        this.views[data.id].query = data.query;
        this.views[data.id].type = t;
      }

      this.$router.push({
        name: "results",
        query: {
          q: _.map(this.views, (v) => {
            return v.query.replace("\\", "\\\\")
          }).join("\n"),
          t: _.map(this.views, "type").join("\n"),
        },
      });
    },
    TypeToString(t) {
      return _.map(t, "value").join("&");
    },
    typesFromUrl(t) {
      return t.split("\n")
    },
    queriesFromString(t) {
      let OptionsArr = t.split('\n');
      for (let i = 0; i < OptionsArr.length; i++) {
        const e = OptionsArr[i];
        OptionsArr[i] = e.replace("\\\\", "\\");
      }
      return OptionsArr;
    }
  },
  created() {
    //Read query parameters at launch
    /*
		this.$watch(
        () => this.$route.query,
        (toParams) => {
          //Make sure it's only ran once
          if (!this.justloaded) return;
          this.justloaded = false;

          //If there is no query
          if (!toParams.q) return;

          const queries = this.queriesFromString(toParams.q ? toParams.q : "");
          const types = this.typesFromUrl(toParams.t ? toParams.t : "web");

          //We save the current OpenInNewPage
          const actualNewPage = this.openInNewPage;

          //We open every query present in the url
          for (let i = 0; i < queries.length; i++) {
            const id = i;
            const query = queries[i];
            const type = types[i] && types[i] != "" ? types[i] : "web";
            //We make sure the first one is put in the first view and that there is not an first empty view
            this.openInNewPage = (i != 0);
            this.addquery({id, query, type})
          }
          this.openInNewPage = actualNewPage;
        }
    )*/
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
